/* Optional CSS for button styling */
.my-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  /* 10px top/bottom padding, 20px left/right padding */
  /* padding for button's text. Margin is for OUTSIDE padding */
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  /* wtf is margin again?  */
  margin: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.5s ease;
}

.my-button:hover {
  background-color: #45a049; /* Darker background color on hover */
  transform: scale(1.1); /* Swelling effect on hover */
}
.button-container {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center align the contents horizontally */
}

@font-face {
  font-family: 'blockFont'; /* Define a font family name */
  src: url('/media/fonts/square-kids-font/SquareKids-LZ5y.ttf') format('truetype'); /* Specify the URL of the .ttf file */
}

body {
  /* background-image: url('/media/images/givemeBaby.jpeg'); Set background image */
  background-image: url('/media/images/babyCarrot.jpeg');
  background-size: cover; /* Cover the entire background */
}

body, .my-button, .welcome-button {
  font-family: 'blockFont', Times; /* Use the custom font with fallback to a generic sans-serif font */
}

h1 {
  font-size: 70px;
  text-align: center;
  transition: all 0.5s ease;
}

h1:hover {
  transform: scale(1.1);
}

.welcome-button {
  background-color: #f0b102;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.5s ease;
  text-align: center;

  margin:0 auto;
  display:block;
  border: none;
  font-size: 30px;
  transition: all 0.5s ease;
}

.welcome-button:hover {
  transform: scale(1.1);
  background-color: #d7a006;
}

.container {
  position: relative;
  text-align: center;
  margin-top: 8%;
}

/* #hidden-text {
  display: none;
} */

p {
  /* text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; */
}

